@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

.third-container {
  background-color: #d25525;
  padding: 3rem;
}

.third-p {
  font-size: 42px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: white;
  text-align: center;
  padding: 2rem 0;
}

.third-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 900px;
  width: 100%;
  margin: auto;
}

.cont {
  flex: 1 1 calc(33.33% - 30px);
  background-color: #ffffff;
  padding: 30px 20px 50px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.cont-img {
  width: 100%;
  border-radius: 10px;
}

.third-p2 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 0.5rem;
}

.third-p3 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 1rem;
  word-spacing: 2rem;
}

@media (max-width: 768px) {
  .cont {
    flex: 1 1 calc(50% - 20px);
  }
  
  .third-p {
    font-size: 32px;
  }
}

@media (max-width: 480px) {
  .cont {
    flex: 1 1 100%;
  }
  
  .third-p {
    font-size: 24px;
    padding: 1.5rem 0;
  }

  .third-p2, .third-p3 {
    font-size: 14px;
  }
}
